@import 'tailwindcss';

/*
 * Chart colours
 */
:root {
  --surface-1: #fcfcfb;
  --text-primary: #0b0b0b;
  --text-secondary: #52514e;
  --grid-line: #e8e7e3;
  --series-1: #2a78d6;

  --action: #256abf;
  --action-hover: #1c5cab;
  --action-text: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --surface-1: #1a1a19;
    --text-primary: #ffffff;
    --text-secondary: #c3c2b7;
    --grid-line: #2f2f2d;
    --series-1: #3987e5;

    --action: #3987e5;
    --action-hover: #5598e7;
    --action-text: #0b0b0b;
  }
}
